<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="nineproject.ReviewReceipt.review.ReviewMapper">
    <insert id="insertRv" parameterType="nineproject.ReviewReceipt.model.ReviewVO" useGeneratedKeys="true" keyProperty="REVIEW_ID">
            INSERT INTO review
            (
                USER_ID,
                CREATE_DATE,
                MODIFY_DATE,
                REVIEW_TYPE,
                DO_DATE,
                REVIEW_TITLE,
                PUBLISH_DATE,
                ABSTRACT_TXT,
                PUBLISHER,
                DIRECTOR,
                PLAYER,
                FAVORITE_LINE,
                SHOW_TYPE,
                PLACE,
                YES_DETAIL,
                IS_PUBLIC,
                STATUS
            ) VALUE (
                #{USER_ID},
                NOW(),
                NOW(),
                #{REVIEW_TYPE},
                #{DO_DATE},
                #{REVIEW_TITLE},
                #{PUBLISH_DATE},
                #{ABSTRACT_TXT},
                #{PUBLISHER},
                #{DIRECTOR},
                #{PLAYER},
                #{FAVORITE_LINE},
                #{SHOW_TYPE},
                #{PLACE},
                #{YES_DETAIL},
                #{IS_PUBLIC},
                1
            )
    </insert>

    <insert id="insertRvDetail" parameterType="hashMap">
        INSERT INTO
            review_detail
        (
            REVIEW_ID,
            DETAIL_REVIEW_TEXT,
            LIST_1_TITLE,
            LIST_1_SCORE_TOTAL,
            LIST_1_SCORE,
            LIST_1_DESC,
            LIST_2_TITLE,
            LIST_2_SCORE_TOTAL,
            LIST_2_SCORE,
            LIST_2_DESC,
            LIST_3_TITLE,
            LIST_3_SCORE_TOTAL,
            LIST_3_SCORE,
            LIST_3_DESC,
            LIST_4_TITLE,
            LIST_4_SCORE_TOTAL,
            LIST_4_SCORE,
            LIST_4_DESC,
            LIST_5_TITLE,
            LIST_5_SCORE_TOTAL,
            LIST_5_SCORE,
            LIST_5_DESC
        ) VALUE (
            #{rvId},
            #{review_detail.DETAIL_REVIEW_TEXT},
            #{review_detail.LIST_1_TITLE},
            #{review_detail.LIST_1_SCORE_TOTAL},
            #{review_detail.LIST_1_SCORE},
            #{review_detail.LIST_1_DESC},
            #{review_detail.LIST_2_TITLE},
            #{review_detail.LIST_2_SCORE_TOTAL},
            #{review_detail.LIST_2_SCORE},
            #{review_detail.LIST_2_DESC},
            #{review_detail.LIST_3_TITLE},
            #{review_detail.LIST_3_SCORE_TOTAL},
            #{review_detail.LIST_3_SCORE},
            #{review_detail.LIST_3_DESC},
            #{review_detail.LIST_4_TITLE},
            #{review_detail.LIST_4_SCORE_TOTAL},
            #{review_detail.LIST_4_SCORE},
            #{review_detail.LIST_4_DESC},
            #{review_detail.LIST_5_TITLE},
            #{review_detail.LIST_5_SCORE_TOTAL},
            #{review_detail.LIST_5_SCORE},
            #{review_detail.LIST_5_DESC}
        )
    </insert>

    <update id="updateRv" parameterType="Hashmap">
    <!--review -->
        UPDATE
            review
        SET
            MODIFY_DATE = NOW(),
            REVIEW_TYPE = #{review_detail.REVIEW_TYPE},
            DO_DATE = #{review_detail.DO_DATE},
            REVIEW_TITLE = #{review_detail.REVIEW_TITLE},
            PUBLISH_DATE = #{review_detail.PUBLISH_DATE},
            ABSTRACT_TXT = #{review_detail.ABSTRACT_TXT},
            PUBLISHER = #{review_detail.PUBLISHER},
            DIRECTOR = #{review_detail.DIRECTOR},
            PLAYER = #{review_detail.PLAYER},
            FAVORITE_LINE = #{review_detail.FAVORITE_LINE},
            SHOW_TYPE = #{review_detail.SHOW_TYPE},
            PLACE = #{review_detail.PLACE},
            IS_PUBLIC = #{review_detail.IS_PUBLIC}
        WHERE
            REVIEW_ID = #{rvId}
    </update>

    <update id="updateRvDetail" parameterType="Hashmap">
        <!--review detail-->
        UPDATE
            review_detail
        SET
            DETAIL_REVIEW_TEXT = #{review_detail.DETAIL_REVIEW_TEXT},
            LIST_1_TITLE = #{review_detail.LIST_1_TITLE},
            LIST_1_SCORE_TOTAL = #{review_detail.LIST_1_SCORE_TOTAL},
            LIST_1_SCORE = #{review_detail.LIST_1_SCORE},
            LIST_1_DESC = #{review_detail.LIST_1_DESC},
            LIST_2_TITLE = #{review_detail.LIST_2_TITLE},
            LIST_2_SCORE_TOTAL = #{review_detail.LIST_2_SCORE_TOTAL},
            LIST_2_SCORE = #{review_detail.LIST_2_SCORE},
            LIST_2_DESC = #{review_detail.LIST_2_DESC},
            LIST_3_TITLE = #{review_detail.LIST_3_TITLE},
            LIST_3_SCORE_TOTAL = #{review_detail.LIST_3_SCORE_TOTAL},
            LIST_3_SCORE = #{review_detail.LIST_3_SCORE},
            LIST_3_DESC = #{review_detail.LIST_3_DESC},
            LIST_4_TITLE = #{review_detail.LIST_4_TITLE},
            LIST_4_SCORE_TOTAL = #{review_detail.LIST_4_SCORE_TOTAL},
            LIST_4_SCORE = #{review_detail.LIST_4_SCORE},
            LIST_4_DESC = #{review_detail.LIST_4_DESC},
            LIST_5_TITLE = #{review_detail.LIST_5_TITLE},
            LIST_5_SCORE_TOTAL = #{review_detail.LIST_5_SCORE_TOTAL},
            LIST_5_SCORE = #{review_detail.LIST_5_SCORE},
            LIST_5_DESC = #{review_detail.LIST_5_DESC}
        WHERE
            REVIEW_ID = #{rvId}
    </update>

    <update id="deleteRv" parameterType="int">
        UPDATE
            review
        SET
            STATUS = 0
        WHERE
            REVIEW_ID = #{rvid}
    </update>

</mapper>