<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="nineproject.ReviewReceipt.user.UserMapper">
    <insert id="insertUser" parameterType="nineproject.ReviewReceipt.model.SignUpFormVO">

            INSERT INTO user
            (
                MBR_NO,
                USERNAME,
                USER_WEBID,
                USER_WEBPW,
                CREATE_DATE,
                MODIFY_DATE,
                UNREAD_RECEIPT,
                STATUS
            ) VALUE (
                #{MBR_NO},
                #{USERNAME},
                #{USER_WEBID},
                #{USER_WEBPW},
                NOW(),
                NOW(),
                0,
                1
            )
    </insert>

    <update id="updateUsername" parameterType="Hashmap">
        UPDATE
            user
        SET
            USERNAME = #{new_username},
            MODIFY_DATE = NOW()
        WHERE
            USER_ID = #{userId}
    </update>

    <update id="updateUserWebPw" parameterType="Hashmap">
        UPDATE
            user
        SET
            USER_WEBPW = #{new_web_pw},
            MODIFY_DATE = NOW()
        WHERE
            USER_ID = #{userId}
    </update>

    <update id="deleteUser" parameterType="int">
        UPDATE
            user
        SET
            STATUS = 0
        WHERE
            USER_ID = #{userId}
    </update>

</mapper>